{% import "bootstrap/wtf.html" as wtf %}
{% extends "main/base.html" %}

<!--Profile-->
{% block content %}
<h3>Profile</h3>
<hr>
<div class="row">
    <div class="col-md-4 text-center">
        <img src="/static/images/avatar1.jpg"  class="img-fluid img-thumbnail">
    </div>
    <div class="col-lg-8 bg-light rounded">
        <h4>{{ user.username }} - {{ user.role_id}}</h4><br>
        <p>
        {{user.name}} {{user.lastname}}<br>
        {{user.email}}
        </p>
        <p>
        About me:<br>
        {{user.aboutme}}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <br>
        <a class="btn btn-primary btn-block" href="/editprofile" role="button">Edit Profile</a>
        {% if current_user.is_administrator()%}
            <a class="btn btn-dark btn-block" href="/editprofile/{{ current_user.id }}" role="button">Edit Profile(ADMIN)</a>
            <a class="btn btn-dark btn-block" href="/postnews" role="button">Post News</a>
            <a class="btn btn-dark btn-block" href="/addrole" role="button">Add Role</a>
            <a class="btn btn-dark btn-block" href="/userlist" role="button">Users</a>
        {% endif %}
    </div>
</div>
{% endblock %}
